*{
  padding:0;
  margin:0;
  overflow:none;
}
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4p7jVwfKEELtw_Erw1DOLL7VuBl_PmH5N-6M8AoSM5ZBgD04xjjNhKjtJ&s=10");
  background-blend-mode:darken;
  height:100vh;
  width:100vw;
  display:grid;
  justify-content:center;
  grid-template-areas:
    'all1'
    'all2'
  ;
  background-color:darkgray;
}
.info{
  display:grid;
  grid-template-areas:
    'area1'
    'area2'
  ;
  justify-content:center;
  align-items:center;
  text-align:center;
  height:30vh;
  position:relative;
  grid-area:all1;
}
.info .pic{
  grid-area:area1;
  margin-top:5px;
}
.info #image{
  width:30vw;
  border-radius:20px;
  border:3px solid black;
  position:relative;
  background-color:gray;
}
.info #pakename{
  width:80vw;
  font-weight:bold;
  font-size:20px;
  grid-area: area2;
  border:3px solid black;
  border-radius:20px;
  position:relative;
  padding:5px;
  color:white;
  background-color:gray;
}

.control{
  position:relative;
  height:40vh;
  width:100vw;
  margin:50px 0 0 0;
  display:grid;
  grid-template-areas:
    'control1'
    'control2'
    'control3'
  ;
  grid-area:all2;
}
.control #name{
  border:3px solid black;
  border-radius:10px;
  margin:0 0 10px 0;
  text-align:center;
  outline:none;
  height:50px;
  grid-area:control1;
  position:relative;
}
.control #Find{
  border-radius:10px;
  font-size:20px;
  font-weight:bold;
  background-color:gray;
  height:50px;
  grid-area:control2;
  position:relative;
  color:white;
}
.control #Next{
  border-radius:10px;
  font-size:20px;
  font-weight:bold;
  background-color:gray;
  height:50px;
  grid-area:control3;
  position:relative;
  color:white;
}
